<form id="form-edit-business" data-type="grid">
    <label>
        <b>Business Name</b>
        <span><select id="employer" class="clip-businesses" required></select></span>
    </label>
    <div class="form-multiselect" data-type="flex">
        <label class="input-wrap">
            <input type="checkbox" name="edit-business" value="wanted">
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
            <strong>Add / Update Want Ad</strong>
        </label>
        <label class="input-wrap">
            <input type="checkbox" name="edit-business" value="hiring">
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
            <strong>Update Hiring Status</strong>
        </label>
        <label class="input-wrap">
            <input type="checkbox" name="edit-business" value="hours">
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
            <strong>Update Hours</strong>
        </label>
        <label class="input-wrap">
            <input type="checkbox" name="edit-business" value="address">
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
            <strong>Change Address</strong>
        </label>
    </div>
    <label class="hidden ifWanted fullWidth">
        <b>Related Wanted Ad</b>
        <span><input type="text" id="wanted" placeholder="URL"></span>
    </label>
    <label class="hidden ifHiring fullWidth">
        <b>Hiring?</b>
        <span><select id="hiring">
            <option value="">(select)</option>
            <option value="yes">Yes</option>
            <option value="ask first">Ask First</option>
            <option value="no">No</option>
        </select></span>
    </label>
    <div data-type="grid" class="hidden ifHours fullWidth">
        <label>
            <b>Type of Opening Hours</b>
            <span><select id="hours">
                <option value="">(select)</option>
                <option value="set hours">Set Hours</option>
                <option value="by appointment">By Appointment</option>
                <option value="no set hours">No Set Hours / Not Open to the Public</option>
            </select></span>
        </label>
        <label class="adjustable ifSetHours hidden">
            <b>Hours</b>
            <div class="rows hours-wrap" data-type="grid"></div>
            <div class="multi-buttons" data-row-type="hours">
                <button type="button" onclick="addRow(this)">+ New Row</button>
                <button type="button" onclick="removeRow(this)">- Remove Row</button>
            </div>
        </label>
    </div>
    <label class="hidden ifAddress">
        <b>Neighborhood</b>
        <span><select id="neighbourhood" required>
            <option value="">(select)</option>
            <option value="1">Back Bay</option>
            <option value="2">Beacon Hill</option>
            <option value="3">Cambridge</option>
            <option value="4">Charlestown</option>
            <option value="5">Downtown</option>
            <option value="6">Fenway-Kenmore</option>
            <option value="7">North End</option>
            <option value="8">Southie</option>
            <option value="9">West End</option>
        </select></span>
    </label>
    <label class="hidden ifAddress">
        <b>Street Name</b>
        <span><input type="text" id="street" placeholder="Street Name" required /></span>
    </label>
    <label class="hidden ifAddress">
        <b>House / Building Number</b>
        <span><input type="number" id="houseNumber" min="1" placeholder="1" required /></span>
    </label>
    <label class="hidden ifAddress">
        <b>Unit Number (optional)</b>
        <span><input type="number" id="apartmentNumber" min="1" placeholder="1" /></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>