<form id="form-sort" data-type="grid" data-columns="2">
    <h3 class="fullWidth underline">Basic Information</h3>
    <label>
        <b>Character</b>
        <span><input type="text" id="character" placeholder="Character name" required=""></span>
    </label>
    <label>
        <b>Character Profile</b>
        <span><input type="text" id="accountid" placeholder="URL or ID" required=""></span>
    </label>
    <label>
        <b>Group</b>
        <span><select id="group" required>
            <option value="">(select)</option>
            <option value="GROUP ID">Group Name</option>
            <option value="GROUP ID">Group Name</option>
            <option value="GROUP ID">Group Name</option>
            <option value="GROUP ID">Group Name</option>
        </select></span>
    </label>
    <label>
        <b>Face</b>
        <span><input type="text" id="face" placeholder="Face claim" required=""></span>
    </label>
    <label class="fullWidth">
        <b>For request?</b>
        <span><select id="requested" required>
            <option value="">(select)</option>
            <option value="y">Yes</option>
            <option value="n">No</option>
        </select></span>
    </label>
    <label class="hidden ifRequest fullWidth">
        <b>Request Details</b>
        <span><textarea id="request" placeholder="Name of requester and/or URL to wanted ad"></textarea></span>
    </label>
    <h3 class="fullWidth underline">Address</h3>
    <label>
        <b>Neighborhood</b>
        <span><select id="neighbourhood" required>
            <option value="">(select)</option>
            <option value="1">Back Bay</option>
            <option value="2">Beacon Hill</option>
            <option value="3">Cambridge</option>
            <option value="4">Charlestown</option>
            <option value="5">Downtown</option>
            <option value="6">Fenway-Kenmore</option>
            <option value="7">North End</option>
            <option value="8">Southie</option>
            <option value="9">West End</option>
        </select></span>
    </label>
    <label>
        <b>Street Name</b>
        <span><input type="text" id="street" placeholder="Street Name" required /></span>
    </label>
    <label>
        <b>House / Building Number</b>
        <span><input type="number" id="houseNumber" min="1" placeholder="1" required /></span>
    </label>
    <label>
        <b>Unit Number (optional)</b>
        <span><input type="number" id="apartmentNumber" min="1" placeholder="1" /></span>
    </label>
    <h3 class="fullWidth underline">Employment</h3>
    <label class="fullWidth adjustable">
        <b>Jobs</b>
        <div class="rows jobs-wrap"></div>
        <div class="multi-buttons" data-row-type="jobs">
            <button type="button" onclick="addRow(this)">+ New Row</button>
            <button type="button" onclick="removeRow(this)">- Remove Row</button>
        </div>
    </label>
    <h3 class="fullWidth underline">Member Info</h3>
    <label>
        <b>Alias</b>
        <span><input type="text" id="alias" placeholder="Alias" required=""></span>
    </label>
    <label>
        <b>OOC Profile</b>
        <span><input type="text" id="parentid" placeholder="URL or ID" required=""></span>
    </label>
    <label class="fullWidth">
        <b>First character?</b>
        <span><select id="first" required>
            <option value="">(select)</option>
            <option value="y">Yes</option>
            <option value="n">No</option>
        </select></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>