<section class="post comm g-@@gid">
    <a href="/" class="comm--name" title="First Last">You</a>
    <div class="post--avatar">
        <img src="https://picsum.photos/250" loading="lazy"/>
    </div>
    <div class="post--content"><div class='postcolor'>
        <tag-msg>Message here</tag-msg>
        <tag-action>Message here</tag-action>
        <tag-msg>Message here</tag-msg>
    </div></div>
    <div class="social--controls">
        <a href="javascript:void(0)" class="post--permalink" data-clipboard-text="permalink"><div class="macro--small" title="Get Link"><i class="fa-regular fa-link"></i></div></a>
        <span class="macro--small"><i class="fa-regular fa-pen"></i></span>
        <span class="macro--small"><i class="fa-regular fa-quote-left"></i></span>
        <span class="macro--small"><i class="fa-regular fa-trash"></i></span>
        <span class="macro--small"><i class="fa-regular fa-flag-pennant"></i></span>
        <label class="staffOnly input-wrap">
            <input type="checkbox" />
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
        </label>
    </div>
</section>