<div class="forum f-@@id splide__slide">
    <div class="forum--avatar"><a href="./profile.html"><img src="https://picsum.photos/250" loading="lazy"/></a></div>
    <div class="forum--left">
        <div class="forum--title">
            <a href="./topicList.html">@@name</a>
        </div>
        <div class="forum--stats">
            <div class="forum--stat"><b>000</b> Topics</div>
            <div class="forum--stat"><b>000</b> Replies</div>
        </div>
        <div class="forum--latest">
            <a href="./post.html">This is a Topic Title and it can be Long</a>
            <div><span>written by <a href="./profile.html"><grad>first last</grad></a></span></div>
            <div><span>august 22, 2025, 10:47 pm</span></div>
        </div>
    </div>
    <div class="forum--links">@@if (subforums === 'yes') {
            <span class="subforums">
                <a class="subforums-macro" href="./topicList.html">Macro</a>
                <a class="tooltip" href="./topicList.html">Subforum Link</a>
                <a class="subforums-macro" href="./topicList.html">Macro</a>
                <a class="tooltip" href="./topicList.html">Subforum 2</a>
                <a class="subforums-macro" href="./topicList.html">Macro</a>
                <a class="tooltip" href="./topicList.html">Link Three</a>
            </span>
        }</div>
    <div class="forum--desc">
        @@if (image === 'yes') {
            <div class="forum--image">
                <img src="https://picsum.photos/1000" loading="lazy" />
            </div>
        }
        @@if (links === 'yes') {
            <div class="forum--manual-links">
                <a href="/">Manual Link</a>
            </div>
        }
    </div>
</div>