<section class="post insta g-@@gid">
    <div class="social--topper">
        <div class="post--avatar">
            <img src="https://picsum.photos/250" loading="lazy" />
        </div>
        <a href="/" class="social--name" title="First Last">First Last</a>
        <div class="social--info profileOnly"></div>
    </div>
    <div class="post--content"><div class='postcolor'>
        <tag-bio>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</tag-bio>
        <tag-gallery>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
            <tag-image><img src="https://picsum.photos/500" loading="lazy" /></tag-image>
        </tag-gallery>
    </div></div>
    <div class="social--controls">
        <a href="javascript:void(0)" class="post--permalink insta--react" data-clipboard-text="[image]url[/image]"><div class="macro--small" title="Post Text"><i class="fa-light fa-sharp fa-plus"></i></div></a>
        <a href="javascript:void(0)" class="post--permalink insta--react" data-clipboard-text="[image]url[/image]"><div class="macro--small" title="Post an Image"><i class="fa-light fa-sharp fa-camera"></i></div></a>
        <a href="javascript:void(0)" class="post--permalink insta--react" data-clipboard-text="[gallery][image]url[/image][image]url[/image][image]url[/image][/comment]"><div class="macro--small" title="Post a Gallery"><i class="fa-light fa-sharp fa-folder"></i></div></a>
        <a href="javascript:void(0)" class="post--permalink" data-clipboard-text="permalink"><div class="macro--small" title="Get Link"><i class="fa-regular fa-link"></i></div></a>
        <span class="macro--small"><i class="fa-regular fa-pen"></i></span>
        <span class="macro--small"><i class="fa-regular fa-quote-left"></i></span>
        <span class="macro--small"><i class="fa-regular fa-trash"></i></span>
        <span class="macro--small"><i class="fa-regular fa-flag-pennant"></i></span>
        <label class="staffOnly input-wrap">
            <input type="checkbox" />
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
        </label>
    </div>
</section>