<section class="post tindr g-@@gid">
    <div class="post--avatar">
        <img src="https://picsum.photos/700/1000" loading="lazy" class="profileOnly"/>
        <img src="https://picsum.photos/250" loading="lazy" class="reactOnly"/>
    </div>
    <div class="social--topper">
        <a href="/" class="social--name" title="First Last">First Last</a>
        <div class="social--info"></div>
    </div>
    <div class="post--content"><div class='postcolor'>
        <tag-contact data-thread="https://idolsandichor.jcink.net/index.php?showtopic=2">username</tag-contact>
        <tag-react>react text</tag-react>
    </div></div>
    <div class="social--controls">
        <a href="javascript:void(0)" class="post--permalink" data-clipboard-text="permalink"><div class="macro--small" title="Get Link"><i class="fa-regular fa-link"></i></div></a>
        <span class="macro--small"><i class="fa-regular fa-pen"></i></span>
        <span class="macro--small"><i class="fa-regular fa-quote-left"></i></span>
        <span class="macro--small"><i class="fa-regular fa-trash"></i></span>
        <span class="macro--small"><i class="fa-regular fa-flag-pennant"></i></span>
        <label class="staffOnly input-wrap">
            <input type="checkbox" />
            <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
        </label>
    </div>
</section>