<div class="topic @@newpost">
    <div class="topic--avatar"><img src="https://picsum.photos/250" loading="lazy"/></div>
    <div class="topic--main">
        <div class="topic--stats">
            <div class="topic--stat"><b>000</b> Views</div>
            <div class="topic--stat"><a href="/">000</a> Replies</div>
        </div>
        <div class="topic--title">
            <a href="./post.html">This is a topic title</a>
        </div>
        <div class="topic--description">@@description</div>
    </div>
    <div class="topic--writers">
        <div class="topic--writer">
            <div>Last Post By <a href="./profile.html">First Last</a></div>
            <div><span>may 23, 2025, 05:23 pm</span></div>
        </div>
        <div class="topic--writer">
            <div>Started By <a href="./profile.html">First Last</a></div>
            <div><span>may 23, 2025, 05:23 pm</span></div>
        </div>
    </div>
</div>
<!-- 
<label for="TID_11" class="staffOnly input-wrap">
    <input type="checkbox" id="TID_11" name="TID_11" value="0">
    <div class="fancy-input checkbox"><i class="fa-solid fa-check"></i></div>
</label>
-->