@import '../global/mixins.scss';

/*******************************
    Extensions

    Want these to be clean without repeated CSS on build? Follow the mixin template:

    @mixin nameHere() {
        styles
    }

    Then, in the file you want to use it, call it as an include:

    .className {
        @include nameHere;
    }
********************************/
@mixin scroll($color: var(--bg-accent), $spacing: var(--space-md)) {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding-right: $spacing;
    margin-right: calc(-1 * $spacing);
    scrollbar-width: thin;
    scrollbar-color: $color transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $color;
        border: none;
    }
}

@mixin info($size: xs, $color: var(--text-primary), $weight: 600) {
    color: $color;
    font-family: var(--font-sans);
    font-weight: $weight;
    line-height: 160%;

    @if($size == xs) {
        font-size: var(--text-size-xs);
        text-transform: uppercase;
        letter-spacing: 0.4em;
    }
}

@mixin heading($size) {
    @if($size == h3) {
        line-height: 120%;
        font-family: var(--font-script);
        text-transform: lowercase;
        font-size: 28px;
        color: var(--text-secondary);
    }
}