@import '../global/mixins.scss';

@mixin scroll($color: var(--bg-accent), $spacing: var(--space-md)) {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding-right: $spacing;
    margin-right: calc(-1 * $spacing);
    scrollbar-width: thin;
    scrollbar-color: $color transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $color;
        border: none;
    }
}

@mixin link($style: button) {
    @if($style == button) {
        display: flex;
        line-height: 100%;
        font-size: var(--text-size-sm);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--text-primary);
        gap: var(--space-sm);
        padding: var(--space-sm) var(--space-md);
        border-radius: 5px;
        overflow: hidden;
        font-weight: 900;
        border: var(--border-primary-solid);
        transition: var(--transition-standard);
        flex-grow: 1;
        background: var(--bg-secondary);
    
        &:hover {
           border: var(--border-accent-alt);
           color: var(--text-secondary);
           background: var(--bg-tertiary);
        }
    }
    @if($style == circle) {
        background: var(--bg-gradient-75);
        padding: var(--space-xs);
        border-radius: 50%;
        border: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-gradient-25);
            border-radius: 50%;
            scale: 1;
            transition: var(--transition-standard);
        }

        &:hover {
            &::before {
                scale: 1.3;
            }
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg-secondary);
            color: var(--text-secondary);
            width: 30px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            font-size: 10px;
        }
    }
}

@mixin info($size: xs, $color: var(--text-primary), $weight: 600) {
    color: $color;
    font-family: var(--font-sans);
    font-weight: $weight;
    line-height: 160%;

    @if($size == sm) {
        font-size: var(--text-size-sm);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    @if($size == details) {
        font-size: var(--text-size-xs);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-style: italic;
    }

    @if($size == xs) {
        font-size: var(--text-size-xs);
        text-transform: uppercase;
        letter-spacing: 0.4em;
    }

    @if($size == xxs) {
        font-size: var(--text-size-xs);
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}

@mixin heading($size, $underline: false) {
    @if($size == h1) {
        line-height: 120%;
        font-family: var(--font-script);
        text-transform: lowercase;
        @include fluid-type(36, 60, 480, 1280);
        color: var(--text-secondary);
        font-weight: 400;
    }
    @if($size == h2) {
        line-height: 120%;
        font-family: var(--font-script);
        text-transform: lowercase;
        @include fluid-type(30, 42, 480, 1280);
        color: var(--text-secondary);
        font-weight: 400;
    }
    @if($size == h3) {
        line-height: 120%;
        font-family: var(--font-script);
        text-transform: lowercase;
        @include fluid-type(20, 28, 480, 1280);
        color: var(--text-secondary);
        font-weight: 400;
    }
    @if($size == h4) {
        font-family: var(--font-sans);
        font-style: normal;
        line-height: 120%;
        text-transform: uppercase;
        @include fluid-type(20, 28, 480, 1280);
        color: var(--text-secondary);
        font-weight: 900;
    }
    @if($size == h5) {
        font-family: var(--font-sans);
        font-style: normal;
        line-height: 120%;
        text-transform: uppercase;
        @include fluid-type(16, 20, 480, 1280);
        color: var(--text-secondary);
        font-weight: 900;
    }
    @if($size == h6) {
        font-family: var(--font-sans);
        font-style: normal;
        line-height: 120%;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: var(--text-secondary);
        font-weight: 900;
    }
    @if($underline == true) {
        padding-bottom: var(--space-xs);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: var(--bg-gradient);
        }
    }
    @if($underline == thin) {
        padding-bottom: var(--space-xs);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--bg-gradient);
        }
    }
    @if($underline == false) {
        &::before {
            display: none;
        }
    }
}