@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Global
********************************/
@font-face {
    font-family: 'antagon';
    src: url('https://files.jcink.net/uploads2/seeingstars/antagon_regular.otf');
}
body {
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: var(--size-container-margin);
    font-family: var(--font-sans);
    font-size: var(--text-size-md);
    line-height: 200%;
    color: var(--text-primary);

    main {
        height: calc(100vh - (2 * var(--size-container-margin)));
        border-radius: var(--radius-container);
        background-image: var(--bg-image), var(--border-gradient);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border: double 2px transparent;
        overflow: hidden;

        &::before {
            content: '';
            position: fixed;
            top: calc(var(--size-container-margin) + 2px);
            left: calc(var(--size-container-margin) + 2px);
            width: calc(100% - (2 * var(--size-container-margin)) - 4px);
            height: calc(100% - (2 * var(--size-container-margin)) - 4px);
            background: var(--bg-container);
            backdrop-filter: blur(10px);
            border-radius: var(--radius-container);
        }

        .container {
            @include scroll(var(--bg-accent), 0);
        }
    }
}

.clouds {
    fill: url(#grad1);
    stroke: none;
}

.scroll {
    @include scroll;
}

.macro {
    &--button {
        &[onclick] {
            cursor: pointer;

            .is-open > & {
                .open-button {
                    display: none;
                }
            }

            *:not(.is-open) > & {
                .close-button {
                    display: none;
                }
                & + tag-labels,
                & ~ .accordion {
                    display: none;
                }
            }
        }
    }
}

tag-tabset {
    display: flex;
    overflow: hidden;

    & > tag-tab {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        transition-duration: var(--transition-tab-duration);
    }
}
tag-labels {
    display: flex;
    flex-direction: column;

    .tab-category.accordion--content {
        &:not(:last-child) {
            margin-bottom: var(--space-lg);
        }

        &.is-active {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
        }
    }
}
.accordion {
    &--trigger {
        cursor: pointer;
    }
    
    &--content {
        &:not(.is-active) {
            display: none;
        }
    }
}


.invisibleElTagging {
    &.menu-open + .alert-options .fa-tags,
    &:not(.menu-open) + .alert-options .fa-xmark {
        display: none;
    }
}

.invisibleElTagging,
.invisibleEl {
    position: fixed;
    z-index: -1;
    top: calc(var(--size-container-margin) + 2px);
    left: calc(var(--size-container-margin) + 2px);
    width: calc(100% - (2 * var(--size-container-margin)) - 4px);
    height: 0;
    background: var(--bg-overlay);
    transition: var(--transition-standard);
    border-radius: var(--radius-container);

    &.menu-open {
        height: calc(100vh - (2 * var(--size-container-margin)) - 4px);
        z-index: 2;
    }
}
.alert-select {
    display: none;
    position: absolute;
    top: calc(100% + 11px + var(--space-sm));
    right: 0;
    z-index: 5;
    background: white;
    gap: var(--space-md);
    padding: var(--space-md);
    max-width: 500px;
    text-align: left;

    @include mq-up(xs) {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100vw - 35px);
    }

    &.is-open {
        display: grid;
    }

    .alert-section {
        .scroll {
            max-height: var(--size-alert-max-height);
        }

        .input-wrap {
            &:not(:last-child) {
                margin-bottom: var(--space-xs);
            }

            .fancy-input {
                &::before {
                    font-family: 'Font Awesome 7 Pro';
                }
            }
        }

        label {
            cursor: pointer;
        }

        hr {
            border: 0;
            border-top: 1px solid black;
            margin: var(--space-sm) 0;
        }
    }

    input[type="button"] {
        grid-column: 1 / -1;
        cursor: pointer;
        margin: 0 auto;
    }
}