@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
   Categories and Forums
********************************/
.category {
   margin: 0 auto var(--space-xl);
   padding: 0 var(--space-md);
   display: flex;
   flex-direction: column;
   max-width: var(--size-max-screen);

   @include mq-up(xs) {
      padding: 0 var(--space-lg);
   }

   @include mq-up(sm) {
      padding: 0 var(--space-xl);
   }

   &:not(.splide):not(.condensed) {
      .forum:not(.redirect) {
         @include mq-up(sm) {
            margin-left: calc(var(--size-forum-avatar) / 2);
         }
      }
   }

   h2 {
      width: max-content;
      max-width: 100%;
      z-index: 1;
      @include heading(h1);
      padding: 0 var(--space-md);
      margin: 0 0 var(--space-lg) 0;

      &::after {
         content: '';
         display: block;
         background: var(--bg-gradient);
         @include info();
         margin: calc(-1 * var(--space-sm)) calc(-1 * var(--space-md)) 0;
         color: var(--text-on-accent);
         border-radius: var(--radius-small);
         padding: var(--space-xs) var(--space-md);
         line-height: 140%;
         max-width: 30vw;
         min-width: 275px;
         text-align: justify;
      }
   }

   &--main {
      display: grid;
      grid-template-columns: 100%;
      gap: var(--space-md);
   }

   &--navigation {
      display: flex;
      align-items: center;
      align-self: end;
      padding: 0 var(--space-lg);
      height: var(--size-pagination-arrows);
      width: 100%;

      @include mq-up(sm) {
         width: max-content;
         max-width: 100%;
      }
   }

   &.splide {
      display: grid;
      grid-template-columns: 100%;
      gap: var(--space-lg) 0;

      @include mq-up(sm) {
         grid-template-columns: 1fr max-content;
      }

      h2 {
         align-self: end;
         margin: 0;
      }
      .splide__list {
         @include mq-down(xs) {
            gap: 0;
         }
      }
      .splide__pagination {
         position: relative;
         top: auto;
         bottom: auto;
         left: auto;
         right: auto;
         padding: 0;
         width: 100%;
         flex-wrap: nowrap;

         li {
            height: var(--size-progress-bar);
            width: 100%;
            overflow: hidden;
            line-height: 0;
            font-size: 0;
            flex-grow: 1;

            @include mq-up(sm) {
               width: var(--space-lg);
            }

            @include mq-up(md) {
               width: var(--space-xl);
            }

            &:first-child {
               border-radius: calc(var(--size-progress-bar) / 2) 0 0 calc(var(--size-progress-bar) / 2);
            }
            &:last-child {
               border-radius: 0 calc(var(--size-progress-bar) / 2) calc(var(--size-progress-bar) / 2) 0;
            }

            &:has(~ li > .is-active) {
               .splide__pagination__page {
                  &::before {
                     width: 100%;
                  }
               }
            }
         }

         .splide__pagination__page {
            margin: 0;
            height: 100%;
            width: 100%;
            transform: none;
            border-radius: 0;
            background: var(--bg-primary);
            opacity: 1;

            @include mq-up(md) {
               width: var(--space-xl);
            }

            &::before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               width: 0;
               height: 100%;
               background: var(--bg-accent);
               transition: var(--transition-standard);
            }

            &.is-active {
               &::before {
                  width: 100%;
               }
            }
         }
      }
      .splide__arrows {
         position: absolute;
         top: 50%;
         left: 0;
         height: 0;
         width: 100%;
         display: flex;
         justify-content: space-between;

         .splide__arrow {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            background: none;
            padding: 0;
            margin: 0;
            opacity: 1;

            &:disabled {
               filter: grayscale(1);
               opacity: 0.5;
            }

            svg {
               fill: var(--text-accent);
               height: var(--size-pagination-arrows);
               width: var(--size-pagination-arrows);
            }
         }
      }
      .splide__track {
         grid-column: 1 / -1;
      }
   }

   &.condensed {
      .category--main {
         @include mq-up(md) {
            grid-template-columns: 1fr 1fr;
         }
         @include mq-up(xl) {
            grid-template-columns: 1fr 1fr 1fr;

            .forum:nth-child(3n + 2):last-child {
               grid-column: span 2;
            }

            .forum:nth-child(3n + 1):last-child {
               grid-column: span 3;
            }
         }
      }
      .forum {
         grid-template-columns: 100% !important;
         padding: 0 !important;
         align-items: start;
         grid-template-rows: 1fr max-content;
         margin: 0 !important;
         overflow: hidden;

         &::before {
            content: '';
            position: absolute;
            aspect-ratio: 1 / 1;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 10%;
            background: linear-gradient(to bottom, var(--accent-1), var(--accent-2), var(--accent-3));
         }
      }
      .forum--avatar,
      .forum--clipped-image {
         display: none;
      }
      .forum--links {
         border: none !important;
         border-top: var(--border-secondary) !important;
         border-radius: 0 0 var(--radius-large) var(--radius-large) !important;
         margin: 0 !important;
         padding: var(--space-md) !important;
      }
      .forum--left {
         @include mq-down(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 var(--space-lg);
         }
         @include mq-down(xs) {
            grid-template-columns: 100%;
         }
      }
      .forum--latest {
         @include mq-down(md) {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            margin-top: 0;
         }
         @include mq-down(xs) {
            grid-row: auto;
            grid-column: auto;
            margin-top: var(--space-lg);
         }
      }
   }
}
.forum {
   display: grid;
   align-items: center;
   background: var(--bg-primary);
   border-radius: var(--radius-large);

   body.maximalist & {
      margin-top: calc(var(--size-forum-avatar) / 2);
      
      @include mq-up(sm) {
         margin-top: 0;
      }
   }

   &--avatar {
      position: absolute;
      top: calc(var(--size-forum-avatar) / -2);
      left: calc(50% - (var(--size-forum-avatar) / 2));
      @include link(circle);
      width: var(--size-forum-avatar);
      aspect-ratio: 1 / 1;
      z-index: 2;
      padding: var(--space-sm);
      line-height: 0;
      font-size: 0;

      @include mq-up(sm) {
         top: calc(50% - (var(--size-forum-avatar) / 2));
         left: calc(var(--size-forum-avatar) / -2);
      }

      img {
         width: 100%;
         height: 100%;
         border-radius: 50%;
      }

      body.minimalist & {
         display: none;
      }

      &:has(img[src="https://"]) a {
         background: var(--avatar-default);
         width: 100%;
         height: 100%;
         display: block;
         border-radius: 50%;
      }
   }

   &:has(.forum--clipped-image) {
      body.maximalist & {
         .forum--avatar {
            @include mq-up(xxs) {
               top: calc((var(--size-forum-image) * (3 / 4)) - var(--size-forum-avatar) - var(--space-md));
               left: calc(var(--size-forum-image) - var(--size-forum-avatar));
            }
         }

         @include mq-up(sm) {
            grid-template-columns: var(--size-forum-image) auto;
         }
         .forum--links {
            @include mq-up(xs) {
               margin-top: var(--space-md);
            }
            @include mq-up(md) {
               margin: var(--space-md);
            }
         }
      }
      .forum--links {
         grid-column: 1 / -1;
         padding: var(--space-md);

         @include mq-down(md) {
            border-radius: 0 0 var(--radius-large) var(--radius-large);
            border-top: var(--border-secondary);
         }

         @include mq-up(md) {
            border: var(--border-secondary);
            margin: 0 var(--space-md) var(--space-md);
            padding: var(--space-sm);
            border-radius: calc(var(--radius-large) - var(--space-md));
         }
      }
   }

   &:not(:has(.forum--clipped-image)) {
      @include mq-up(md) {
         grid-template-columns: auto 300px;
      }

      body.maximalist & {
         @include mq-down(sm) {
            padding-top: calc(var(--size-forum-avatar) / 2);
         }

         @include mq-up(sm) {
            padding-left: calc(var(--size-forum-avatar) / 2);
         }
      }

      .forum--links {
         @include scroll();
         align-items: start;
         height: 100%;
         border-radius: 0 var(--radius-large) var(--radius-large) 0;
         padding: var(--space-md);

         @include mq-up(sm) {
            margin-left: calc(var(--size-forum-avatar) / -2);
         }

         @include mq-down(md) {
            border-radius: 0 0 var(--radius-large) var(--radius-large);
            border-top: var(--border-secondary);
         }

         @include mq-up(md) {
            margin-left: 0;
            border-left: var(--border-secondary);
         }
      }
   }

   &--clipped-image {
      width: var(--size-forum-image);
      aspect-ratio: 4 / 3;
      line-height: 0;
      border-radius: var(--radius-large) 0 var(--radius-xl);
      overflow: hidden;
      padding: 0 var(--space-md) var(--space-md) 0;
      border-right: var(--border-primary);
      border-bottom: var(--border-primary);
      background: var(--bg-secondary);

      img {
         width: 100%;
         height: 100%;
         object-fit: center;
         border-bottom-right-radius: calc(var(--radius-xl) - var(--space-md));
      }

      body.minimalist & {
         display: none;
      }
   }

   &--left {
      padding: var(--space-md);

      @include mq-up(xxs) {
         padding: var(--space-lg);
      }
   }

   &--title {
      a {
         color: var(--text-secondary);
         font-family: var(--font-sans);
         text-transform: uppercase;
         font-weight: 900;
         font-size: 24px;
      }
   }
   &.redirect {
      overflow: hidden;
      margin-top: 0 !important;

      &::before {
         content: '';
         position: absolute;
         aspect-ratio: 1 / 1;
         bottom: -40%;
         right: -80%;
         height: 160%;
         background: linear-gradient(to bottom, var(--accent-1), var(--accent-2), var(--accent-3));
         rotate: 25deg;

         @include mq-down(xxs) {
            display: none;
         }

         @include mq-up(sm) {
            bottom: -40%;
            right: -50%;
            height: 160%;
         }

         @include mq-up(md) {
            bottom: -40%;
            right: -20%;
            height: 140%;
         }
      }
   
      & > * {
         z-index: 1;
      }

      .forum--title {
         margin-bottom: var(--space-sm);

         a {
            @include fluid-type(24, 48, 480, 1280);
         }
      }
   }

   &--stats {
      display: flex;
      flex-wrap: wrap;
      gap: 0 var(--space-md);
      @include info($size: sm, $weight: 400);

      b {
         color: var(--text-accent);
      }
   }

   &--latest {
      display: flex;
      flex-direction: column;
      @include info($size: sm, $weight: 400);
      line-height: 180%;
      margin-top: var(--space-lg);

      & > a {
         font-weight: 700;
         font-size: 1.1em;
         color: var(--text-secondary);
      }
      & > div {
         &:last-of-type {
            @include info(details);
            margin-top: 2px;
         }

         a {
            color: var(--text-accent);
            font-weight: 900;
         }
      }
   }

   &--links {
      background: var(--bg-secondary);
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-xs);

      &:empty {
         display: none;
      }

      .subforums {
         display: flex;
         flex-wrap: wrap;
         gap: var(--space-xs);
      }

      .subforums-macro {
         display: none;
      }


      a {
         @include link();
      }
   }

   .splide__list & {
      overflow: hidden;
      grid-template-columns: 100% !important;
      grid-template-rows: max-content max-content max-content;
      gap: var(--space-md);
      margin: 0 !important;

      @include mq-up(xxs) {
         gap: var(--space-lg);
      }

      @include mq-up(md) {
         gap: var(--space-lg) calc(var(--space-lg) + (var(--size-forum-avatar) / 2));
         grid-template-columns: 1fr 1.5fr !important;
         grid-template-rows: 1fr max-content;
      }

      @include mq-up(lg) {
         grid-template-columns: 1fr 1fr !important;
      }

      .forum--avatar {
         top: calc(250px - (var(--size-forum-avatar) / 2) - (1 * var(--space-md))) !important;
         left: calc(50% - (var(--size-forum-avatar) / 2)) !important;

         @include mq-up(md) {
            top: calc(50% - (var(--size-forum-avatar) / 2)) !important;
            left: calc((100% * (2 / 5)) - (var(--size-forum-avatar) / 2) - (2 * var(--space-md))) !important;
         }

         @include mq-up(lg) {
            left: calc(50% - (var(--size-forum-avatar) / 2) - (2 * var(--space-md))) !important;
         }
      }

      .forum--clipped-image {
         width: calc(100% + (2 * var(--space-md)));
         padding: var(--space-md);
         overflow: hidden;
         aspect-ratio: auto;

         @include mq-down(md) {
            border-left: var(--border-primary);
            border-radius: var(--radius-large) var(--radius-large) 50% 50%;
            height: 250px;
            margin: calc(-1 * var(--space-md)) calc(-1 * var(--space-md)) 0 calc(-1 * var(--space-md));
         }

         @include mq-up(md) {
            grid-row: 1 / 3;
            border-top: var(--border-primary);
            border-radius: var(--radius-large) 50% 50% var(--radius-large);
            height: calc(100% + (2 * var(--space-md)));
            margin: calc(-1 * var(--space-md)) 0 calc(-1 * var(--space-md)) calc(-1 * var(--space-md));
         }

         img {
            border-radius: 0 0 50% 50%;

            @include mq-up(md) {
               border-radius: 0 50% 50% 0;
            }
         }
      }

      .forum--left {
         padding-bottom: 0;
         align-self: end;
         text-align: right;

         @include mq-down(md) {
            padding-top: calc(var(--size-forum-avatar) / 2);
         }
      }

      .forum--stats {
         justify-content: end;
      }

      .forum--title {
         a {
            @include fluid-type(24, 42, 480, 1280);
         }
      }

      .forum--links {
         grid-column: unset;
         border-bottom: none;
         border-right: none;
         margin: 0 !important;
         flex-direction: column;
         border-radius: 0;
         padding: var(--space-md);

         @include mq-up(xxs) {
            border-radius: var(--radius-xl) 0 0 0;
            padding: var(--space-lg) var(--space-lg) var(--space-lg) calc(var(--space-xl) * 2);
         }

         .subforums {
            flex-direction: column;
         }
      }
   }
}