@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Member List
********************************/
.members {
    display: block;
    padding: calc(var(--space-md) + var(--size-container-margin)) var(--space-md);
    max-width: var(--size-max-screen);
    margin: 0 auto;

    @include mq-up(xxs) {
        padding: calc(var(--space-lg) + var(--size-container-margin)) var(--space-lg);
    }

    &--inner {
        border-radius: var(--radius-large);
        background: var(--bg-primary);
        display: flex;

        @include mq-down(xs) {
            flex-direction: column;
            border-top-right-radius: 0;
        }
    }

    &--menu {
        flex: 0 0 71px;
        transition: var(--transition-standard);

        &:has(.sticky.is-open) {
            flex: 0 0 var(--size-ucp-menu);
        }

        .sticky {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            position: sticky;
            top: calc(var(--size-container-margin) - 1px);
            background: var(--bg-secondary);
            display: flex;
            flex-direction: column;
            padding: var(--space-md);
            gap: var(--space-md);
            justify-content: end;
            border-bottom: var(--border-primary);
            border-right: var(--border-primary);
            border-bottom-right-radius: var(--radius-xl);
            border-top-left-radius: var(--radius-large);
    
            @include mq-up(xs) {
                padding: var(--space-lg) var(--space-md) var(--space-xl);
            }
        }
        .accordion--content {
            flex-direction: column;
            gap: var(--space-xs);
            padding-top: var(--space-sm);

            &.is-active {
                display: flex;
            }

            a {
                @include link;
            }
        }
    }

    &--list {
        flex-grow: 1;
        padding: var(--space-lg);
    }

    &--sort-buttons,
    &--filter-group {
        .members--sort,
        label {
            display: flex;
            gap: var(--space-sm);
            align-items: center;
            cursor: pointer;
            @include info(sm);
            border: none;
            background: none;

            input {
                display: none;
            }

            &::before {
                border: var(--border-primary);
                background: var(--bg-secondary);
                display: flex;
                align-items: center;
                justify-content: center;
                color: transparent;
                width: var(--size-input);
                height: var(--size-input);
                border-radius: var(--radius-small);
                font-family: 'Font Awesome 7 Pro';
            }

            &.is-checked {
                &::before {
                    color: var(--text-secondary);
                }
            }
        }
    }

    &--member,
    .member-sizer {
        width: 100%;

        @include mq-up(sm) {
            width: calc((100% / 2) - ((var(--space-lg) * 1) / 2));
        }

        @include mq-up(lg) {
            width: calc((100% / 3) - ((var(--space-lg) * 2) / 3));
        }
    }
}

.member {
    border-radius: var(--radius-large);
    overflow: hidden;
    background: var(--bg-secondary);
    margin-bottom: var(--space-lg);

    &:hover {
        .member--top::before {
            transform: scale(1.1);
        }
    }

    &--top {
        aspect-ratio: 5 / 4;
        width: calc(100% + (2 * var(--space-md)) + 2px);
        height: auto;
        line-height: 0;
        border-radius: 0 0 50% 50%;
        background: var(--bg-gradient);
        padding: 0 var(--space-md) var(--space-md);
        margin-left: calc((-1 * var(--space-md)) - 1px);

        img {
            width: 100%;
            height: 100%;
            border-radius: 0 0 50% 50%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0px 0px 50% 50%;
            transform: scale(1);
            background: var(--bg-gradient-25);
            transition: var(--transition-standard);
        }
    }

    &--bottom {
        display: flex;
        flex-direction: column;
        padding: var(--space-md);

        @include mq-up(xxs) {
            padding: var(--space-md) var(--space-lg) var(--space-lg);
        }

        a {
            @include heading(h4);
        }

        span {
            @include info(xxs);
        }
    }

    &--stats {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        margin-top: var(--space-md);

        @include mq-up(xxs) {
            margin-top: var(--space-md);
        }

        span {
            line-height: 100%;
            font-size: var(--text-size-sm);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var(--text-primary);
            gap: var(--space-sm);
            padding: var(--space-sm) var(--space-md);
            border-radius: 5px;
            overflow: hidden;
            font-weight: 900;
            border: var(--border-primary-solid);
            background: var(--bg-secondary);
            flex-grow: 1;
            transition: var(--transition-standard);
            text-align: center;
    
            &:hover {
               border: var(--border-accent-alt);
               color: var(--text-secondary);
               background: var(--bg-tertiary);
            }
        }
    }
}