@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Navigation
********************************/
.nav {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 10;

    &--breadcrumb {
        z-index: 11;
        bottom: 0;
        right: 0;
        height: calc(2 * var(--size-container-margin));
        text-align: right;
        max-width: calc(100% - (2 * var(--size-container-margin)));
        padding: 0 var(--size-container-margin);
        background: var(--bg-secondary);
        border-top: 1px solid var(--accent-1);
        border-left: 1px solid var(--accent-1);
        border-top-left-radius: 15px;

        #navstrip {
            font-size: 0;
            flex: 0 0 auto;
            height: max-content;
            line-height: 100%;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0 0 0 auto;
            padding: 0;
            @include info($color: var(--text-secondary));
            align-items: center;

            a {
                @include info($color: var(--text-secondary));
            }

            i {
                font-size: 10px;
                padding: 0 var(--space-xs);
                flex: 0 0 max-content;
            }
        }
    }
    &--main {
        top: 0;
        left: 0;
        height: calc(2 * var(--size-container-margin));
        max-width: 100%;
        gap: var(--space-xs);
        padding: 0 var(--size-container-margin);
        background: var(--bg-primary);
        border-bottom: 1px solid var(--accent-1);
        border-right: 1px solid var(--accent-1);
        border-bottom-right-radius: 15px;
        max-width: calc(100% - (2 * var(--size-container-margin)));
        transition: var(--transition-long);

        &:has(.options .is-open) {
            top: var(--size-options-menu);
        }

        &:has(.login .is-open) {
            top: 72px;
        }

        &:has(.is-open) {
            top: calc(100% - (2.5 * var(--size-container-margin)));
        }

        a,
        button {
            color: var(--text-secondary);
            font-size: 12px;
            width: var(--size-container-margin);
        }
    }

    .button--menu,
    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: var(--transition-standard);
        border: none;
        background: none;
        height: var(--size-container-margin);
        padding: 0;
        margin: 0;

        body.g-2 &.guestOnly,
        body.g-4 &.staffOnly {
            display: flex;
        }
    }

    &--inline {
        width: var(--size-container-margin);

        .button--menu:not(.is-open) .fa-xmark,
        .button--menu.is-open i:not(.fa-xmark) {
            display: none;
        }
    }

    &--popout {
        position: absolute;
        left: 100%;
        top: 0;
        padding: var(--space-md);
        transform: scaleY(0);
        opacity: 0;
        transition: var(--transition-standard);
        transform-origin: top center;
        z-index: 9;

        &:not(.fullHeight) {
            border-left-width: 0;
        }

        &.login {
            transition: var(--transition-long);
            position: fixed;
            top: 0;
            left: 0;
            height: 72px;
            max-width: 376px;
            width: calc(100% - (2 * var(--size-container-margin)));
            background: var(--bg-primary);
            border-right: 2px solid var(--accent-2);
            border-right: 1px solid var(--accent-1);
            border-bottom: 1px solid var(--accent-1);
            display: flex;

            form {
                & > div {
                    display: flex;
                    gap: var(--space-xs);

                    strong {
                        display: none;
                    }

                    input[type="text"],
                    input[type="password"] {
                        flex-grow: 1;
                    }
                }
            }
        }

        &.options {
            transition: var(--transition-long);
            position: fixed;
            top: 0;
            left: 0;
            height: var(--size-options-menu);
            max-width: 376px;
            width: calc(100% - (2 * var(--size-container-margin)));
            background: var(--bg-primary);
            border-right: 2px solid var(--accent-2);
            border-right: 1px solid var(--accent-1);
            border-bottom: 1px solid var(--accent-1);
            display: flex;
        }

        &.fullHeight {
            transition: var(--transition-long);
            position: fixed;
            top: 0;
            left: 0;
            height: calc(100vh - (2.5 * var(--size-container-margin)));
            max-width: 376px;
            width: calc(100% - (2 * var(--size-container-margin)));
            background: var(--bg-primary);
            border-right: 2px solid var(--accent-2);
            border-right: 1px solid var(--accent-1);
            border-bottom: 1px solid var(--accent-1);
        }

        &.is-open {
            transform: scaleY(1);
            opacity: 1;
        }

        & > .scroll {
            display: grid;
            gap: var(--space-sm);
        }

        &.options {
            button {
                display: flex;
                align-items: center;
                gap: var(--space-sm);
                background: none;
                border: none;
                color: var(--text-secondary);
                flex-grow: 1;
                transition: var(--transition-standard);

                div {
                    width: 100%;
                    height: var(--space-xs);
                    border-radius: calc(var(--space-xs) / 2);
                    background: var(--bg-secondary);
                    border: var(--border-secondary);
                    transition: var(--transition-standard);
                    cursor: pointer;

                    span {
                        display: block;
                        width: 9px;
                        height: 9px;
                        margin: -3px auto -3px 0;
                        border-radius: 50%;
                        background: var(--text-primary);
                        transition: var(--transition-standard);
                    }
                }

                body.light &.toggle--theme div,
                body.xlFont &.toggle--size div,
                body.maximalist &.toggle--images div {
                    background: var(--bg-gradient);

                    span {
                        margin: -3px 0 -3px auto;
                    }
                }
                body.lgFont &.toggle--size div {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background: var(--bg-gradient);
                        border-radius: 2.5px;
                    }
                    span {
                        margin: -3px auto;
                    }
                }
            }
        }

        &.login {
            button {
                display: flex;
                align-items: center;
                gap: var(--space-sm);
                background: none;
                border: none;
                color: var(--text-secondary);
                flex-grow: 1;
                transition: var(--transition-standard);

                div {
                    width: 100%;
                    height: var(--space-xs);
                    border-radius: calc(var(--space-xs) / 2);
                    background: var(--bg-secondary);
                    border: var(--border-secondary);
                    transition: var(--transition-standard);
                    cursor: pointer;

                    span {
                        display: block;
                        width: 9px;
                        height: 9px;
                        margin: -3px auto -3px 0;
                        border-radius: 50%;
                        background: var(--text-primary);
                        transition: var(--transition-standard);
                    }
                }

                body.light &.toggle--theme div,
                body.xlFont &.toggle--size div,
                body.maximalist &.toggle--images div {
                    background: var(--bg-gradient);

                    span {
                        margin: -3px 0 -3px auto;
                    }
                }
                body.lgFont &.toggle--size div {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background: var(--bg-gradient);
                        border-radius: 2.5px;
                    }
                    span {
                        margin: -3px auto;
                    }
                }
            }
        }
    }

    #quick-login {
        width: calc(100vw - var(--size-menu-width) - var(--space-lg));
        max-width: 200px;

        form {
            & > div {
                display: grid;
                gap: var(--space-xs);
                text-align: center;

                strong {
                    display: none;
                }
            }
        }
    }

    &--section {
        display: flex;
        gap: var(--space-sm);
        background: var(--bg-secondary);
        padding: var(--space-sm);
        border-radius: var(--radius-medium);
        flex-wrap: wrap;
        border: var(--border-secondary);
    }

    &--scroll {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        @include scroll();

        b {
            font-family: var(--font-script);
            font-size: 34px;
            font-weight: 400;
            color: var(--text-secondary);
            font-style: italic;
            text-transform: lowercase;
            line-height: 120%;

            &:not(:first-child) {
                margin-top: var(--space-lg);
            }
        }

        a {
            display: flex;
            line-height: 100%;
            font-size: var(--text-size-sm);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var(--text-primary);
            gap: var(--space-sm);
            padding: var(--space-sm) var(--space-md);
            border-radius: 5px;
            overflow: hidden;
            font-weight: 900;
            border: var(--border-primary-solid);
            transition: var(--transition-standard);
            flex-grow: 1;

            &:hover {
                border: var(--border-accent);

                &::before {
                    width: 100%;
                    opacity: 0.5;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: var(--bg-gradient);
                opacity: 0;
                transition: var(--transition-standard);
            }
        }
    }
}

.switch {
    display: grid;
    gap: var(--space-sm);

    &--block {
        display: grid;
        gap: var(--space-md);
        cursor: pointer;

        body.maximalist & {
            grid-template-columns: var(--size-switcher-image) auto;

            &.parent-account {
                border-bottom: var(--border-primary);
                padding-bottom: var(--space-sm);
            }
        }

        body.minimalist & {
            background: var(--bg-secondary);
            border: var(--border-secondary);
            border-radius: var(--radius-medium);
            padding: var(--space-md);
            transition: var(--transition-standard);
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: var(--bg-gradient);
                transition: var(--transition-standard);
            }

            &:hover,
            &.parent-account {
                border: var(--border-accent);
                color: var(--text-on-accent);

                &::before {
                    width: 100%;
                }
            }
        }

        input {
            display: none;
        }
    }
    &--image {
        width: var(--size-switcher-image);
        height: var(--size-switcher-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: var(--radius-small);

        body.minimalist & {
            display: none;
        }
    }
    &--name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        b {
            @include heading(h3);
        }

        span {
            @include info();
        }
    }
}

.alert {
    &--menu {
        display: flex;
        gap: var(--space-sm);
        height: var(--size-alerts-menu);
        flex-wrap: wrap;
        justify-content: end;
        border-bottom: var(--border-primary);
        padding-bottom: var(--space-sm);
        margin-bottom: var(--space-sm);

        a {
            width: var(--space-lg);
            height: var(--space-lg);
            color: var(--text-secondary);

            .fa-xmark {
                right: -0.1em;
            }
        }
    }
    &--main {
        display: flex !important;
        flex-direction: column;
        max-height: calc(100% - var(--size-alerts-menu));
        height: 100%;

        & > div:not(.row2) {
            display: none;
        }

        .recent-alerts-msg {
            font-size: 0;
            display: grid;
            align-items: center;
            line-height: 0;

            body.maximalist & {
                grid-template-columns: var(--size-switcher-image) 1fr;
            }

            body.minimalist & {
                background: var(--bg-secondary);
                border: var(--border-secondary);
                border-radius: var(--radius-medium);
                padding: var(--space-md);
            }

            & > div:only-of-type {
                grid-column: 1 / -1;
                @include heading(h3);
            }

            br {
                display: none;
            }

            & > img {
                grid-row: 1 / 6;
                width: var(--size-switcher-image);
                height: var(--size-switcher-image);
                border-radius: var(--radius-small);

                body.minimalist & {
                    display: none;
                }
            }

            & > a {
                border: none;
                padding: 0 0 0 var(--space-md);
                text-align: left; 
                justify-content: start;

                &:hover {
                    background: none;
                    color: var(--text-accent);
                }
            }

            &:not(.reg-alert) {
                & > a {
                    &:first-of-type {
                        @include heading(h3);

                        body.maximalist & {
                            grid-column: 2 / 3;
                            grid-row: 1 / 2;
                        }
                        
                        body.minimalist & {
                            padding: 0;
                        }
                    }
                    &:nth-of-type(2):not(:last-of-type) {
                        display: none;
                    }
                    &:last-of-type {
                        @include info();
                        
                        body.maximalist & {
                            grid-column: 2 / 3;
                            grid-row: 2 / 3;
                        }
                        
                        body.minimalist & {
                            padding: 0;
                        }
                    }
                }
            }
            &.reg-alert {
                & > a {
                    @include heading(h3);
                        
                    body.maximalist & {
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                    }
                        
                    body.minimalist & {
                        padding: 0;
                    }
                }
                &::after {
                    content: 'New Registration';
                    @include info();
                        
                    body.maximalist & {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                        padding: 0 0 0 var(--space-md);
                    }
                }
            }
        }
    }
}

[data-new]:not([data-new="0"]) {
    color: var(--text-accent);
}