@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Post Row
********************************/
#ST {
    .tableborder {
        &:has(.post) {
            display: block;
            padding: 0 var(--space-md);
            max-width: var(--size-max-screen);
            margin: 0 auto;
            
            @include mq-up(xxs) {
                padding: 0 var(--space-lg);
            }
    
            .maintitle {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: var(--space-lg) var(--space-lg) var(--space-md);
    
                .topic-title-space {
                    display: none;
                }
    
                .topic-title {
                    @include heading(h2, true);
                }
    
                .topic-desc {
                    @include info();
                    margin: var(--space-md) 0;
    
                    &:empty {
                        display: none;
                    }
    
                    &:has(tag-highlight) {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: var(--space-xs);
                    }
                }
            }
            .postlinksbar {
                margin: 0 auto var(--space-lg);
                padding: 0 var(--space-lg);
                text-align: center;
                width: max-content;
                max-width: 100%;
    
                &::before,
                &::after {
                    display: block !important;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--bg-gradient);
                }
    
                &::before {
                    top: 0;
                }
    
                &::after {
                    bottom: 0;
                }
    
                strong {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: var(--space-sm) var(--space-lg);
                    font-size: 0;
                    
                    a {
                        @include info(xxs);
                    }
                }
            }
    
            .activeuserstrip {
                background: var(--bg-secondary);
                text-align: center;
                @include info(xxs);
    
                a {
                    color: var(--text-secondary);
                }
    
                &:not(:last-child) {
                    border-radius: var(--radius-large) var(--radius-large) 0 0;
                    border: var(--border-secondary);
                    border-bottom: 0;
                    padding: var(--space-md) var(--space-md) 0;
                    margin-top: var(--space-lg);
                }
    
                &:last-child {
                    border-radius: 0 0 var(--radius-large) var(--radius-large);
                    border: var(--border-secondary);
                    border-top: 0;
                    padding: 0 var(--space-md) var(--space-md);
                    margin-bottom: var(--space-lg);
                }
    
                & + .row2 {
                    background: var(--bg-secondary);
                    border-left: var(--border-secondary);
                    border-right: var(--border-secondary);
                    text-align: center;
                    @include info(xxs);
    
                    a {
                        color: var(--text-secondary);
                    }
                }
            }
        }

        &:has(> .social) {
            display: grid;
            gap: 0 var(--space-lg);

            .maintitle {
                display: none;
            }
            .postlinksbar {
                grid-column: 1 / -1;
                margin-top: var(--space-lg);
            }
            .activeuserstrip,
            .row2 {
                grid-column: 1 / -1;
            }
        }
        &:has(> .insta) {
            grid-template-columns: 100%;

            @include mq-up(sm) {
                grid-template-columns: clamp(var(--size-min-insta), 35vw, var(--size-max-insta)) 1fr;
            }

            .posts--socials-wrap {
                @include mq-up(sm) {
                    position: absolute;
                    top: 0;
                    left: 0;

                    .posts--socials-wrap-inner {
                        padding-bottom: var(--space-md);
                    }
                }
            }
        }
        &:has(> .tindr) {
            grid-template-columns: 100%;

            @include mq-up(md) {
                grid-template-columns: clamp(var(--size-min-tindr), 35vw, var(--size-max-tindr)) 1fr;
            }

            .posts--socials-wrap {
                @include mq-up(md) {
                    .posts--socials-wrap-inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-bottom: var(--space-md);
                    }
                }
                .post.tindr {
                    @include mq-up(sm) {
                        width: calc((100% / 2) - ((var(--space-md) * 1) / 2));
                    }
        
                    @include mq-up(md) {
                        width: 100%;
                    }

                    @include mq-up(lg) {
                        width: calc((100% / 2) - ((var(--space-md) * 1) / 2));
                    }
                }
            }

            & > .post.tindr {
                @include mq-down(md) {
                    max-width: var(--size-max-tindr);
                    margin: 0 auto var(--space-lg);
                }
            }
        }

        &:not(:has(> .social)):not(:has(> .insta)):has(.posts--socials-wrap) {
            .posts--socials-wrap-inner {
                position: relative;

                .post.social {
                    width: 100%;

                    @include mq-up(xs) {
                        width: calc((100% / 2) - ((var(--space-md) * 1) / 2))
                    }

                    @include mq-up(md) {
                        width: calc((100% / 3) - ((var(--space-md) * 2) / 3))
                    }

                    @include mq-up(lg) {
                        width: calc((100% / 4) - ((var(--space-md) * 3) / 4))
                    }
                }
            }
        }

        &:not(:has(> .social)):not(:has(> .tindr)):has(.posts--socials-wrap) {
            .posts--socials-wrap-inner {
                position: relative;

                .post.social {
                    width: 100%;

                    @include mq-up(sm) {
                        width: calc((100% / 2) - ((var(--space-md) * 1) / 2))
                    }

                    @include mq-up(lg) {
                        width: calc((100% / 3) - ((var(--space-md) * 2) / 3))
                    }

                    @include mq-up(xxl) {
                        width: calc((100% / 4) - ((var(--space-md) * 3) / 4))
                    }
                }
            }
        }
    }

    main > .container {
        .bar {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 var(--space-md) !important;
            max-width: var(--size-max-screen);
            margin: var(--space-lg) auto;
        
            @include mq-up(xxs) {
                padding: 0 var(--space-lg) !important;
            }

            & > * {
                float: none;
                clear: both;
            }

            & ~ div[align="right"] {
                display: flex;
                flex-direction: column;
                gap: var(--space-sm);
                padding: 0 var(--space-md) !important;
                max-width: var(--size-max-screen);
                margin: var(--space-lg) auto !important;
            
                @include mq-up(xxs) {
                    padding: 0 var(--space-lg) !important;
                }

                & > br {
                    display: none;
                }
            }
        }
    }
}

.posts {
    &--comms-wrap {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        background: var(--bg-gradient);
        border-radius: var(--radius-large);
        padding: var(--space-md);

        @include mq-down(xs) {
            flex-direction: column;
        }

        @include mq-up(xs) {
            aspect-ratio: 16 / 9;
        }

        &-inner {
            background: var(--bg-secondary);
            border-radius: 0 0 calc(var(--radius-large) - var(--space-md)) calc(var(--radius-large) - var(--space-md));
            height: 100%;
            flex-grow: 1;
            padding: var(--space-md);

            @include mq-down(xs) {
                .scroll {
                    max-height: 300px;
                }
            }

            @include mq-up(xs) {
                border-radius: 0 calc(var(--radius-large) - var(--space-md)) calc(var(--radius-large) - var(--space-md)) 0;
            }
        }

        .post--latest {
            aspect-ratio: 5 / 4;
            height: 100%;
            flex: 0 0 auto;
            overflow: hidden;
            border-radius: calc(var(--radius-large) - var(--space-md)) calc(var(--radius-large) - var(--space-md)) 0 0;

            @include mq-up(xs) {
                aspect-ratio: 4 / 5;
                border-radius: calc(var(--radius-large) - var(--space-md)) 0 0 calc(var(--radius-large) - var(--space-md));
            }

            img {
                width: 100%;
                height: 100%;
            }

            .post--contact {
                position: absolute;
                right: 0;
                bottom: 0;
                background: var(--bg-primary);
                padding: var(--space-sm);
                @include info(xxs);

                @include mq-down(xs) {
                    border-top: var(--border-primary);
                    border-bottom: var(--border-primary);
                    width: 100%;
                }

                @include mq-up(xs) {
                    writing-mode: sideways-lr;
                    border-left: var(--border-primary);
                    border-right: var(--border-primary);
                    height: 100%;
                    text-align: right;
                }
            }
        }
    }
    &--socials-wrap {
        &-inner {
            width: 100%;
            height: 100%;
            overflow: auto;
            background: var(--bg-primary);
            padding: var(--space-md) var(--space-md) 0;
            border-radius: var(--radius-large);

            .scroll {
                padding-right: 0;
                margin-right: 0;
            }
        }

        .post.social {
            background: var(--bg-secondary);
            border: var(--border-secondary);
            width: 100%;
            margin-bottom: var(--space-md);
            border-radius: calc(var(--radius-large) - var(--space-md));

            .post--avatar {
                aspect-ratio: var(--size-social-post-aspect);
            }
            .post--top {
                & > a {
                    @include heading(h6);
                }
            }
        }

        .post.insta {
            @include mq-up(xs) {
                width: calc((100% / 2) - ((var(--space-md) * 1) / 2));
            }

            @include mq-up(sm) {
                width: 100%;
            }

            @include mq-up(md) {
                width: calc((100% / 2) - ((var(--space-md) * 1) / 2));
            }

            .post--top {
                @include mq-up(xxs) {
                    padding: 0 var(--space-md);
                }
            }
            .post--content {
                @include mq-up(xxs) {
                    padding: 0 var(--space-md);
                }
            }
            .post--date {
                @include mq-up(xxs) {
                    padding: 0 var(--space-md);
                }
            }
            .post--buttons {
                @include mq-up(xxs) {
                    margin: 0 var(--space-md) var(--space-md);
                }
            }
        }

        .post.tindr {
            height: var(--size-tindr-post-height);

            .post--avatar  {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - (var(--size-tindr-post-height) * 0.5));
                height: 100%;

                .tall {
                    display: none;
                }
                .wide {
                    display: initial;
                }
            }
            .post--container {
                left: auto;
                right: 0;
                bottom: calc(-1 * var(--space-md));
                width: auto;
                height: calc(100% + (2 * var(--space-md)));
                border-radius: calc(var(--size-tindr-post-height) / 2) 0 0 calc(var(--size-tindr-post-height) / 2);
                padding: var(--space-md) 0 var(--space-md) var(--space-md);
            }
            .post--container-inner {
                padding: var(--space-md);
                border-radius: calc((var(--size-tindr-post-height) / 2) - var(--space-md)) 0 0 calc((var(--size-tindr-post-height) / 2) - var(--space-md));
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            .post--top {
                & > a {
                    color: var(--text-primary);
                }
            }
        }
    }
    &--no-posts {
        background: var(--bg-primary);
        padding: var(--space-md);
        border-radius: var(--radius-large);

        @include mq-up(xxs) {
            padding: var(--space-lg);
        }
    }
}

.post {
    &--date {
        @include info(details);
    }
    &:not(.comm):not(.social) {
        display: grid;
        grid-template-columns: 100%;
        border-radius: var(--radius-large);
        background: var(--bg-primary);
        height: 100%;
        margin-bottom: var(--space-lg);
    
        @include mq-up(sm) {
            grid-template-columns: 71px clamp(var(--size-min-post-avatar), 35vw, var(--size-max-post-avatar)) 1fr;
        }
        
        .post--buttons {
            width: max-content;
    
            .sticky {
                position: sticky;
                top: calc(var(--size-container-margin) + 70px + var(--space-sm));
                display: flex;
                gap: var(--space-md);
                justify-content: end;
                background: var(--bg-secondary);
                border-top-left-radius: var(--radius-large);
                border-bottom: var(--border-primary);
                border-right: var(--border-primary);
                border-bottom-right-radius: var(--radius-xl);
    
                @include mq-down(sm) {
                    padding: var(--space-md) var(--space-xl) var(--space-md) var(--space-lg);
                }
    
                @include mq-up(sm) {
                    flex-direction: column;
                    padding: var(--space-lg) var(--space-md) var(--space-xl);
                }
            }
    
            a {
                display: flex;
                @include link(circle);
    
                &.is-active {
                    &::before {
                        scale: 1.3;
                    }
                }
            }
    
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-gradient-75);
                padding: var(--space-xs);
                border-radius: 50%;
                border: none;
                width: 40px;
                height: 40px;
    
                body.g-4 & {
                    display: flex !important;
                }
            }
        }
    
        .post--side {
            padding: var(--space-md) var(--space-md) 0;
    
            @include mq-up(md) {
                padding: var(--space-lg) var(--space-lg) var(--space-md);
            }
    
            .sticky {
                position: sticky;
                top: calc(var(--size-container-margin) + 70px + (2 * var(--space-sm)));
            }
        }
    
        .post--avatar {
            width: 100%;
            border-radius: var(--space-lg);
            overflow: hidden;
            margin: 0 auto;
    
            @include mq-down(sm) {
                height: 250px;
            }
    
            @include mq-up(sm) {
                aspect-ratio: var(--size-post-avatar-ratio);
                min-height: 400px;
                margin: 0;
            }
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, transparent, black);
                z-index: 1;
            }
    
            & > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
    
                @include mq-down(sm) {
                    &.tabletUp {
                        display: none;
                    }
                }
    
                @include mq-up(sm) {
                    &.tabletDown {
                        display: none;
                    }
                }
            }
    
            &:hover .post--hover {
                top: 0;
            }
        }
    
        .post--hover {
            border-radius: var(--space-lg);
            padding: var(--space-md);
            background: var(--bg-gradient-v);
            height: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: var(--transition-xlong);
            z-index: 1;
    
            .items {
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: 100%;
                background: var(--bg-secondary);
                border-radius: calc(var(--radius-large) - var(--space-md));
                padding: var(--space-md) var(--space-lg) var(--space-md) var(--space-md);
                align-items: start;
    
                @include mq-down(md) {
                    .items--item {
                        flex-direction: column;
                        margin-bottom: var(--space-md);
    
                        span {
                            padding-top: var(--space-xs);
    
                            &::after {
                                position: absolute;
                                top: 0;
                                margin: 0;
                            }
                        }
                    }
                }
    
                @include mq-down(sm) {
                    gap: 0 var(--space-lg);
                    flex-direction: row;
    
                    .items--item {
                        flex: 0 0 calc(50% - (var(--space-lg) / 2));
                        width: calc(50% - (var(--space-lg) / 2));
                    }
                }
    
                @include mq-down(xs) {
                    gap: 0;
                    flex-direction: column;
    
                    .items--item {
                        flex: 0 0 auto;
                        width: 100%;
                    }
                }
            }
        }
    
        .post--main {
            display: flex;
            flex-direction: column;
            gap: var(--space-md);
            padding: var(--space-lg) var(--space-md) 0;
    
            @include mq-up(sm) {
                padding: var(--space-md) var(--space-md) 0 0;
            }
    
            @include mq-up(md) {
                padding: var(--space-lg) var(--space-lg) var(--space-md) 0;
                gap: var(--space-lg);
            }
        }
    
        .post--header {
            display: flex;
            flex-direction: column;
    
            & > a {
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                font-size: 36px;
                line-height: 120%;
                margin: 0;
                font-weight: bold;
    
                b {
                    color: var(--text-secondary);
                }
    
                span {
                    font-size: 0.6em;
                    letter-spacing: 0.1em;
                    line-height: 100%;
                    color: var(--text-primary);
                }
            }
        }
    
        .post--links {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-xs);
            margin: var(--space-sm) 0;
    
            a {
                display: flex;
                align-items: center;
                gap: var(--space-xs);
                @include info(xxs);
                font-weight: 900;
                transition: var(--transition-standard);
    
                &:hover {
                    color: var(--text-secondary);
                }
    
                &:not(:first-child) {
                    &::before {
                        content: '';
                        width: var(--space-lg);
                        height: 1px;
                        background: var(--bg-accent);
                    }
                }
            }
        }
    
        .post--content {
            flex-grow: 1;
            background: var(--bg-secondary);
            border: var(--border-secondary);
            border-radius: calc(var(--radius-large) - var(--space-md));
            padding: var(--space-md);
    
            @include mq-up(md) {
                padding: var(--space-lg);
            }
        }
    
        .post--footer {
            grid-column: 1 / -1;
            display: flex;
            justify-content: space-between;
            gap: var(--space-sm) var(--space-lg);
            margin: var(--space-md);
            background: var(--bg-secondary);
            border: var(--border-secondary);
            padding: var(--space-md);
            border-radius: calc(var(--radius-large) - var(--space-md));
            align-items: center;
    
            @include mq-down(sm) {
                display: grid;
                grid-template-columns: max-content 1fr;
                grid-template-rows: max-content max-content;
                padding: var(--space-md);
    
                .post--footer-flex {
                    grid-column: 1 / -1;
                }
            }
    
            & > a {
                color: var(--text-secondary);
                text-transform: uppercase;
                font-weight: 900;
                font-size: var(--text-size-xl);
            }
    
            &-flex {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: var(--space-sm) var(--space-lg);
                @include info();
                flex-grow: 1;
                line-height: 100%;
                padding-left: calc(24px + var(--space-md));
    
                @include mq-up(sm) {
                    padding: 0;
    
                    &:nth-child(2) {
                        justify-content: space-evenly;
                    }
    
                    &:nth-child(3) {
                        justify-content: end;
                    }
                }
            }
        }
    
        .post--triggers {
            background: var(--bg-gradient-75);
            border-radius: 50%;
    
            &.warnings {
                padding: var(--space-xs);
                position: absolute;
                bottom: calc(-1 * var(--space-xs));
                right: calc(-1 * var(--space-lg));
    
                .post--triggers-hover {
                    right: 0;
                }
    
                & > i {
                    width: 30px;
                    font-size: 10px;
                }
            }
    
            &:not(.warnings) {
                padding: 4px;
                margin: calc(-1 * var(--space-md)) calc(-1 * var(--space-md)) calc(-1 * var(--space-md)) calc((-1 * var(--space-md)) + var(--space-sm));
                height: max-content;
                align-self: center;
    
                .post--triggers-hover {
                    left: 0;
                }
    
                & > i {
                    width: 20px;
                    font-size: 8px;
                }
            }
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--bg-gradient-25);
                border-radius: 50%;
                scale: 1;
                transition: var(--transition-standard);
            }
    
            &:hover {
                &::before {
                    scale: 1.3;
                }
    
                .post--triggers-hover {
                    transform: scaleY(1);
                }
            }
    
            & > i {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-secondary);
                color: var(--text-secondary);
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                font-size: 10px;
            }
    
            &-hover {
                transform: scaleY(0);
                transform-origin: bottom;
                transition: var(--transition-standard);
                position: absolute;
                bottom: calc(100% + var(--space-md));
                width: 300px;
                font-size: var(--text-size-md);
                line-height: 160%;
                background: var(--bg-secondary);
                padding: var(--space-md);
                z-index: 1;
                border-radius: var(--radius-medium);
                box-shadow: 0 0 5px var(--bg-primary);
                @include scroll();
                max-height: 100px;
                text-align: justify;
            }
        }
    }
    &.comm {
        &:not(:first-child) {
            margin-top: var(--space-md);
        }

        & > a {
            @include info(sm);
            font-weight: 900;
            color: var(--text-secondary);
        }

        .post--content {
            .postcolor {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);

                tag-msg {
                    border-radius: var(--radius-small);
                    background: var(--bg-gradient-25);
                    padding: var(--space-xs) var(--space-sm);
                }

                tag-action {
                    @include info(details);
                    display: flex;
                    align-items: center;
                    gap: var(--space-sm);
                    padding: var(--space-xs) var(--space-sm) var(--space-xs) 0;

                    &::before {
                        width: 23px;
                        height: 24px;
                        border-radius: 50%;
                        background: var(--bg-gradient-v-50);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--text-secondary);
                        font-family: 'Font Awesome 7 Pro';
                        font-style: normal;
                        font-size: 12px;
                        text-align: center;
                        padding-left: 1px;
                        font-weight: 400;
                    }
                }
            }
        }

        .post--date {
            margin: var(--space-xs) 0;
        }

        .post--buttons {
            display: flex;
            gap: var(--space-xs);

            label,
            a {
                @include link(circle);
                width: 24px;
                height: 24px;
                padding: 2px;
                
                & > .macro--small i,
                & > i {
                    width: 19.5px;
                    height: 20px;
                    font-size: 8px;
                }

                .fancy-input {
                    width: 19.5px;
                    height: 20px;
                    border-radius: 50%;
                    border: none;
                }
            }

            label:not(:has(input:checked)) i {
                color: transparent;
            }
        }

        tag-start,
        tag-comm {
            display: none;
        }

        .quick-edit .editor textarea {
            min-height: 100px;
            height: 100px;
        }
    }
    &.social {
        border-radius: var(--radius-large);
        overflow: hidden;
        background: var(--bg-primary);

        tag-account,
        .anchorLink {
            display: none;
        }
        .post--top {
            display: flex;
            gap: var(--space-sm);
            flex-direction: column;
            align-items: center;

            & > a {
                @include heading(h5);
            }
        }
        .post--tagline {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-sm);
            align-items: center;
            justify-content: center;
        }
        .post--content {
            .postcolor {
                display: flex;
                flex-direction: column;
                gap: var(--space-md);

                & > br {
                    display: none;
                }
            }
        }
        .post--buttons {
            display: flex;
            gap: var(--space-xs);

            label,
            a {
                @include link(circle);
                width: 24px;
                height: 24px;
                padding: 2px;
                
                & > .macro--small i,
                & > i {
                    width: 19.5px;
                    height: 20px;
                    font-size: 8px;
                }

                .fancy-input {
                    width: 19.5px;
                    height: 20px;
                    border-radius: 50%;
                    border: none;
                }
            }

            label:not(:has(input:checked)) i {
                color: transparent;
            }
        }
        tag-bio {
            text-align: justify;
            font-size: calc(var(--text-size-md) + 1px);
        }
        tag-gallery {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &.insta {
        display: grid;
        gap: var(--space-md);

        .post--avatar {
            aspect-ratio: var(--size-social-profile-aspect);
            width: calc(100% + (2 * var(--space-md)) + 2px);
            height: auto;
            line-height: 0;
            border-radius: 0 0 50% 50%;
            background: var(--bg-gradient);
            padding: 0 var(--space-md) var(--space-md);
            margin-left: calc((-1 * var(--space-md)) - 1px);
    
            img {
                width: 100%;
                height: 100%;
                border-radius: 0 0 50% 50%;
            }
        }
        .post--top {
            padding: var(--space-md);

            @include mq-up(xxs) {
                padding: var(--space-md) var(--space-lg) 0;
            }
        }
        .post--content {
            padding: 0 var(--space-md);

            @include mq-up(xxs) {
                padding: 0 var(--space-lg);
            }
        }
        .post--date {
            padding: 0 var(--space-md);

            @include mq-up(xxs) {
                padding: 0 var(--space-lg);
            }
        }
        .post--buttons {
            margin: 0 var(--space-md) var(--space-md);

            @include mq-up(xxs) {
                margin: 0 var(--space-lg) var(--space-lg);
            }
        }
    }
    &.tindr {
        .post--avatar {
            aspect-ratio: var(--size-tindr-profile-aspect);
            width: 100%;
            line-height: 0;
    
            img {
                width: 100%;
                height: 100%;
            }

            .tall {
                display: initial;
            }
            .wide {
                display: none;
            }
        }
        .post--container {
            position: absolute;
            bottom: 0;
            left: calc(-1 * var(--space-md));
            width: calc(100% + (2 * var(--space-md)));
            background: var(--bg-gradient);
            border-radius: 50% 50% 0 0;
            padding: var(--space-md) var(--space-md) 0;

            &-inner {
                display: flex;
                flex-direction: column;
                gap: var(--space-sm);
                background: var(--bg-primary);
                border-radius: 50% 50% 0 0;
                padding: var(--space-md);

                @include mq-up(xxs) {
                    padding: var(--space-lg);
                }
            }
        }

        tag-react {
            @include heading(h3);
        }
    }
}
.quick-edit {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-xs);

    .editor {
        width: 100%;
        flex: 0 0 100%;
        margin: 0;
        padding: 0;

        textarea {
            width: 100% !important;
            min-height: 150px;
        }
    }

    .buttons,
    .right-buttons {
        display: flex;
        gap: var(--space-xs);
        flex-wrap: wrap;
        
        input,
        a {
            @include link();
            line-height: 160%;
            margin: 0 !important;
        }
    }
}