@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    User CP
********************************/

//General
#UserCP,
#Msg {
    main .container {
        & > table:first-of-type {
            display: block;
            padding: calc(var(--space-md) + var(--size-container-margin)) var(--space-md);
            max-width: var(--size-max-screen);
            margin: 0 auto;
        
            @include mq-up(xxs) {
                padding: calc(var(--space-lg) + var(--size-container-margin)) var(--space-lg);
            }

            & ~ * {
                display: none;
            }

            & > tbody {
                display: block;
                border-radius: var(--radius-large);
                background: var(--bg-primary);

                & > tr {
                    display: flex;
                    gap: var(--space-lg);
                    
                    & > td {
                        &#ucpmenu {
                            flex: 0 0 71px;
                            transition: var(--transition-standard);

                            &.is-open {
                                flex: 0 0 var(--size-ucp-menu);
                            }

                            .sticky {
                                display: flex;
                                flex-direction: column;
                                gap: var(--space-sm);
                                position: sticky;
                                top: calc(var(--size-container-margin) - 1px);
                                background: var(--bg-secondary);
                                display: flex;
                                flex-direction: column;
                                padding: var(--space-md);
                                gap: var(--space-md);
                                justify-content: end;
                                border-bottom: var(--border-primary);
                                border-right: var(--border-primary);
                                border-bottom-right-radius: var(--radius-xl);
                                border-top-left-radius: var(--radius-large);
                        
                                @include mq-up(xxs) {
                                    padding: var(--space-lg) var(--space-md) var(--space-xl);
                                }
                            }
                            .accordion--content {
                                flex-direction: column;
                                gap: var(--space-xs);
                                padding-top: var(--space-sm);

                                &.is-active {
                                    display: flex;
                                }

                                a {
                                    @include link;
                                }
                            }
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &#ucpcontent {
                            flex-grow: 1;
                            padding: var(--space-md);

                            @include mq-up(xs) {
                                padding: var(--space-lg);
                            }

                            input[type="text"],
                            input[type="file"],
                            input[type="password"],
                            textarea,
                            select {
                                width: 100%;
                            }

                            .maintitle {
                                display: none;
                            }
                    
                            form {
                                & > table {
                                    display: block;
                        
                                    & > tbody {
                                        display: block;
                        
                                        & > tr {
                                            display: flex;
                                            flex-direction: column;
                                            gap: var(--space-sm);
                                            margin-bottom: var(--space-md);
                    
                                            @include mq-up(xxs) {
                                                margin-bottom: var(--space-lg);
                                            }
                        
                                            .pformleft {
                                                @include info(details);

                                                b,
                                                strong,
                                                label {
                                                    @include heading(h3, thin);
                                                    display: block;
                                                    max-width: max-content;
                                                    padding: 0 var(--space-xs);
                    
                                                    & ~ br {
                                                        display: none;
                                                    }
                                                }
                                            }
                                            .pformright {
                                                display: flex;
                                                gap: var(--space-xs);
                                                height: max-content;
                                            }
                    
                                            & > :only-child {
                                                grid-column: 1 / -1;
                                            }
                        
                                            &:last-child {
                                                .pformstrip:only-child {
                                                    margin-bottom: 0;
                                                    padding: 0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Anywhere BUT edit profile
#UserCP,
#Msg {
    .pformstrip {
        &:not(:has(> input[type="submit"])) {
            @include heading(h4, true);
            margin-bottom: var(--space-md);

            a {
                color: var(--text-secondary);
                @include heading(h6);
            }
        }
    }
}

//Specific Pages
//Edit Profile
.ucp {
    &--button {
        @include link(circle);
        width: 40px;
        height: 40px;

        .is-open > .sticky > & {
            &::before {
                scale: 1.3;
            }
        }

        &[onclick] {
            cursor: pointer;

            .is-open > .sticky > & {
                .open-button {
                    display: none !important;
                }
            }

            *:not(.is-open) > .sticky > & {
                .close-button {
                    display: none !important;
                }
                & + tag-labels,
                & ~ .accordion {
                    display: none !important;
                }
            }
        }
    }
    &--header-title {
        @include heading(h4, true);
        margin-bottom: var(--space-md);
    }
    &--description {
        margin: 0 0 var(--space-md);
        background: var(--bg-secondary);
        border: var(--border-primary);
        border-radius: var(--radius-medium);
        padding: var(--space-sm) var(--space-md);
        text-align: justify;
        font-size: calc(var(--text-size-md) + 1px);
        line-height: 200%;
    }
    &--section {
        margin-bottom: var(--space-lg);
    }
}
#UserCP.code-01 {
    #ucpcontent {
        form {
            & > .pformstrip {
                display: none;
            }
            #field-birthday {
                grid-column: 1 / -1;

                .pformright {
                    display: grid !important;
                    gap: var(--space-sm) var(--space-lg);

                    @include mq-up(md) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
            #field-website,
            #field-location,
            #field-interests {
                display: none;
            }
            tbody {
                display: grid !important;
                gap: var(--space-lg);

                @include mq-up(sm) {
                    grid-template-columns: repeat(6, 1fr);
                }

                tr {
                    margin-bottom: 0 !important;
                    grid-column: span 3;
                    display: grid;
                    gap: var(--space-sm);

                    &:has(img) {
                        display: grid !important;
                        grid-template-columns: 100px auto;
                        grid-template-rows: max-content 1fr;

                        &#field_2 {
                            img {
                                aspect-ratio: var(--size-large-avatar-ratio);
                            }
                        }

                        &#field_5 {
                            img {
                                aspect-ratio: 5 / 4;
                            }
                        }

                        &#field_3 {
                            img {
                                aspect-ratio: var(--size-profile-gif-ratio);
                            }
                        }

                        &#field_4 {
                            img {
                                aspect-ratio: 1 / 1;
                            }
                        }

                        img {
                            grid-row: span 2;
                            width: 100%;
                            height: auto;
                        }
                    }

                    &:has(.pformstrip:only-child) {
                        grid-column: 1 / -1;
                    }

                    @include mq-down(md) {
                        grid-column: 1 / -1 !important;
                    }

                    .pformleft {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-sm);
                        @include info(details);

                        b,
                        strong,
                        label {
                            @include heading(h3, thin);
                            display: block;
                            max-width: max-content;
                            padding: 0 var(--space-xs);

                            & ~ br {
                                display: none;
                            }
                        }
                    }

                    td {
                        display: block;
                    }
                }
            }
        }
    }
}
//Edit Avatar
#UserCP.code-24 {
    p {
        text-align: center;
        padding-bottom: var(--space-md);
    }
    #gallery_form {
        display: none;
    }
    .tablepad {
        font-size: 0;

        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
    .tablebasic + .tablebasic {
        .pformleft {
            display: none;
        }
        .pformright {
            grid-column: 1 / -1;
            display: block;
            padding: 0;
    
            b,
            strong,
            label {
                display: block;

                & ~ br {
                    display: none;
                }
            }
        }
        & + .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}
//Subaccounts
#UserCP.code-54 {
    #ucpcontent .tableborder {
        &:first-child {
            table > tbody {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-md);

                & > tr {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    margin: 0;

                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        flex: 0 0 100%;
                    }
                    &:nth-child(2):nth-last-child(2) {
                        flex: 0 0 100% !important;

                        td:only-child {
                            position: relative !important;
                            width: 100%;

                            & > div {
                                text-align: left !important;
                            }
                        }
                    }

                    .input-wrap {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:not(:first-child):not(:last-child) {
                        flex: 0 0 100%;
                        padding: var(--space-sm);
        
                        @include mq-up(sm) {
                            flex: 0 0 calc(50% - (var(--space-md) / 2));
                        }

                        @include mq-up(smdm) {
                            flex: 0 0 calc((100% / 3) - (var(--space-md) * 2 / 3));
                        }

                        & > td {
                            margin: 0;
                            padding: 0 0 0 calc(var(--size-input) + var(--space-sm));
                            text-align: left;
                            @include info();

                            &:first-child {
                                margin-top: -5px;
                                @include heading(h3);
                                letter-spacing: 0;

                                a {
                                    color: var(--text-secondary);
                                }
                            }
                            
                            &:last-child {
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
        &:not(:first-child) {
            tr {
                margin-bottom: 0;
                margin-top: var(--space-md);
            }
            .pformleft {
                line-height: 160%;
                text-align: left;
                display: block;
                max-width: max-content;
                padding: var(--space-xs) var(--space-sm);
            }
        }
    }
}
//Edit Username
#UserCP.code-52 {
    .row2 + table {
        .pformleft {
            line-height: 160%;
            text-align: left;
            display: block;
            max-width: max-content;
            padding: var(--space-xs) var(--space-sm);
        }
    }
}
//Edit Password & Email
#UserCP.code-28,
#UserCP.code-08 {
    form[name="form1"] {
        & > table {
            & > tbody {
                & > tr {
                    & > td {
                        strong,
                        b {
                            line-height: 160%;
                            text-align: left;
                            display: block;
                            max-width: max-content;
                            padding: var(--space-xs) var(--space-sm);
                        }
                        &:first-child {
                            width: 100%;
                            b {
                                & ~ br {
                                    display: none;
                                }
                            }
                        }
                        &:last-child {
                            display: flex;
                            gap: 5px;
                            height: max-content;

                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            & + .pformstrip {
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
}
//Alerts
#UserCP.code-alerts {
    #ucpcontent {
        & > table {
            img {
                display: none;
            }

            &:first-of-type {
                & > tbody {
                    & > tr {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .row1 {
                            text-align: left !important;
                        }
                    }
                }
            }
        }
        & > form {
            & + div {
                display: none;
            }
            & > .tableborder {
                & > table {
                    display: block;

                    & > tbody {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--space-md);
        
                        & > tr {
                            display: flex;
                            flex-direction: column;
                            gap: 0;
                            margin: 0;
        
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                flex: 0 0 100%;
                                @include info(xxs);

                                td {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: end;
                                    gap: var(--space-sm);

                                    select {
                                        font-size: var(--text-size-md);
                                    }

                                    input {
                                        margin: 0;
                                        line-height: 70%;
                                    }

                                    & > div:first-child {
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: var(--space-sm);
                                        align-items: center;

                                        select {
                                            width: auto;
                                        }
                                    }
                                }
                            }
        
                            &:not(:first-child):not(:last-child) {
                                flex: 0 0 100%;
                                padding: var(--space-sm);
        
                                @include mq-up(sm) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }

                                @include mq-up(md) {
                                    flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                                }
        
                                & > td {
                                    margin: 0;
                                    padding: 0 0 0 calc(var(--size-input) + var(--space-sm));
                                    text-align: left;
            
                                    &:first-child {
                                        display: none;
                                    }
                                    &.alert-text {
                                        padding-bottom: var(--space-xs);
                                        margin-top: -1px;
                                        @include info(sm);

                                        a {
                                            color: var(--text-secondary);
                                        }

                                        img {
                                            display: none;
                                        }

                                        & + td {
                                            @include info(details);
                                        }
                                    }
                                    
                                    &:last-child {
                                        position: absolute;
                                        left: 0;
                                        padding-left: var(--space-sm);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pagination ~ br {
            display: none;
        }
    }
}
//Forum & Topic Subscriptions
#UserCP.code-50,
#UserCP.code-26 {
    #ucpcontent .tableborder {
        & > table {
            display: block;

            & > tbody {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-md);

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    a {
                        color: var(--text-secondary);
                    }

                    &:not(.pformstrip) {
                        flex: 0 0 100%;
                        padding: var(--space-sm);
                        @include info(xxs);
                        background: var(--bg-secondary);
                        border: var(--border-primary);
                        border-radius: var(--radius-medium);
        
                        @include mq-up(sm) {
                            flex: 0 0 calc(50% - (var(--space-md) / 2));
                        }

                        @include mq-up(md) {
                            flex: 0 0 calc((100% / 3) - (var(--space-md) * 2 / 3));
                        }

                        & > td {
                            &:first-child {
                                display: none;
                            }
                            &:nth-child(2),
                            &:last-child {
                                flex: 0 0 100%;
                            }
                            &:nth-child(2) {
                                display: flex;
                                flex-direction: column;
                                line-height: 200%;

                                b:first-of-type {
                                    padding-bottom: var(--space-xs);
                                    @include heading(h6);
                                }
    
                                br {
                                    display: none;
                                }
                            }
                            &:nth-child(3),
                            &:nth-child(4) {
                                font-weight: 600;
                            }
                            &:nth-child(3) {
                                &::after {
                                    content: ' topics'
                                }
                            }
                            &:nth-child(4) {
                                &::after {
                                    content: ' replies'
                                }
                            }
                        }
                    }

                    &:first-child {
                        display: none;
                    }
                    &.pformstrip {
                        flex: 0 0 100%;
                        padding: var(--space-xs) var(--space-sm) !important;
                        @include heading(h5, true);

                        &:nth-child(2) {
                            border-top: none;
                            margin-top: 0;
                            padding-top: 0 !important;

                            &:nth-last-child(2) {
                                @include heading(h6, false);
                            }
                        }

                        td {
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
#UserCP.code-26 {
    main .container > table:first-of-type > tbody > tr > td#ucpcontent select {
        width: auto;
        margin-left: var(--space-xs);
    }
    #ucpcontent {
        & > .pformstrip {
            span {
                display: none;
            }
        }
    }
    .tableborder {
        & > table {
            & > tbody {
                width: 100%;

                & > tr {
                    &:not(.pformstrip) {
                        & > td {
                            &:nth-child(2) {
                                display: block !important;
                                margin-bottom: var(--space-sm);

                                br {
                                    display: initial;
                                }
                                a:first-child,
                                span {
                                    display: block;
                                }
                            }
                            &:nth-child(5) {
                                flex: 0 0 100%;
                                margin-top: var(--space-sm);
                            }
                            &:not(:last-child) {
                                padding: 0 0 0 calc(var(--size-input) + var(--space-sm));
                            }
                            &:last-child {
                                position: absolute;
                                padding: 0;
                            }
                        }
                    }
                    &.pformstrip {
                        &:last-child {
                            font-size: 0 !important;

                            &::before {
                                display: none;
                            }

                            td {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
//Board Settings
#UserCP.code-04 {
    #ucpcontent {
        & > form {
            & > .pformstrip {
                & + p {
                    @include info(details);
                    margin-bottom: var(--space-lg);

                    & > b:first-child {
                        line-height: 160%;
                        max-width: max-content;
                        width: 100%;
                        display: block;
                        max-width: max-content;
                        margin: 0 0 var(--space-sm) 0;
                        @include heading(h6, thin);
                        font-style: normal;

                        & + br {
                            display: none;
                        }
                    }

                    select {
                        margin-top: var(--space-sm);
                        font-size: var(--text-size-md);
                        font-style: normal;
                    }
                }
            }
            & > table {
                & > tbody {
                    & > tr {
                        & > td {
                            &:first-child {
                                line-height: 160%;
                                max-width: max-content;
                                width: 100%;
                                display: block;
                                max-width: max-content;
                                margin: var(--space-sm) 0 0;
                                @include heading(h6, thin);

                                b {
                                    & ~ br {
                                        display: none;
                                    }
                                }
                            }
                            &:last-child {
                                display: flex;
                                height: max-content;
                                padding: 0;

                                input {
                                    margin: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}
//Alert Settings
#UserCP.code-alerts_settings {
    table {
        .pformstrip {
            padding: 0;
            line-height: 160%;
            margin: var(--space-sm) 0 0;
            @include heading(h6, true);

            &:first-child {
                text-align: left;
            }
        }
        & + .pformstrip {
            text-align: center;
            margin-bottom: 0;
            padding: 0;

            &::before {
                display: none;
            }
        }
    }
    tr {
        &:not(:nth-last-child(4)):not(:first-child) {
            td {
                padding: var(--space-sm) 0;

                .input-wrap {
                    width: max-content;
                }
            }
        }
        &:nth-last-child(4) {
            .pformstrip {
                padding-top: var(--space-md);
            }
        }
    }
}
//Email Settings
#UserCP.code-02 {
    #ucpcontent {
        form {
            & > table {
                & > tbody {
                    & > tr {
                        display: grid !important;
                        grid-template-columns: max-content auto;
                    }
                }
            }
        }
        .pformstrip:last-child {
            margin-bottom: 0;
            padding: 0;
        }
    }
}

//Inbox
#Msg.code-01 {
    #ucpcontent {
        & > table {
            @include info;

            a {
                color: var(--text-primary);
            }

            & > tbody {
                & > tr {
                    & > td {
                        &:first-child {
                            display: none;
                        }
    
                        & > br,
                        & > form {
                            display: none;
                        }
                    }
                }
            }
        }
        & > form {
            & > .tableborder {
                & > table {
                    & > tbody {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--space-md);
                        margin-top: var(--space-md);

                        & > tr {
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                font-size: 0;
                                line-height: 0;
                                flex: 0 0 100% !important;
                                display: flex;
                                justify-content: center;

                                div,
                                select,
                                input:not([name="delete"]) {
                                    display: none;
                                }

                                input[name="delete"] {
                                    font-size: 16px;
                                    line-height: 120%;
                                }
                            }
                            &:not(:first-child):not(:last-child) {
                                display: flex;
                                flex-direction: column;
                                padding: var(--space-sm) var(--space-md) var(--space-sm) calc((2 * var(--space-sm)) + var(--size-input));
                                background: var(--bg-secondary);
                                border: var(--border-primary);
                                flex: 0 0 100%;
                                border-radius: var(--radius-medium);

                                @include mq-up(xs) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }

                                @include mq-up(sm) {
                                    flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                                }

                                @include mq-up(md) {
                                    flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                                }
                                
                                &:nth-child(2) {
                                    padding-top: var(--space-md);
                                    flex: 0 0 100%;
                                    background: none;
                                    border: none;
                                    @include heading(h6);
                                }
    
                                & > td {
                                    padding: 0;
    
                                    &:first-child {
                                        @include info(xxs);
                                        text-align: left;
                                        line-height: 100%;
                                    }
                                    &:nth-child(2) {
                                        @include heading(h6);
                                        margin-top: var(--space-sm);

                                        a {
                                            color: var(--text-secondary);
                                        }
                                    }
                                    &:nth-child(3) {
                                        font-size: 0;
                                        line-height: 0;
                                        margin: var(--space-sm) 0 0;
    
                                        a {
                                            &:first-of-type {
                                                @include info(xxs);
    
                                                &::before {
                                                    content: 'Sent from ';
                                                    color: var(--text-primary);
                                                    width: auto;
                                                    position: relative;
                                                    bottom: auto;
                                                    left: auto;
                                                    height: auto;
                                                    background: none;
                                                }
                                            }
                                            &:last-of-type {
                                                display: none;
                                            }
                                        }
                                    }
                                    &:nth-child(4) {
                                        @include info(details);
                                    }
                                    &:last-child {
                                        position: absolute;
                                        top: var(--space-md);
                                        left: var(--space-sm);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Send Message
#Msg.code-04 {
    main .container > table:first-of-type > tbody > tr > td#ucpcontent form {
        & > table {
            & > tbody {
                & > tr {
                    margin-bottom: var(--space-md);

                    .pformstrip {
                        text-align: left;
                    }
                    &:first-child {
                        margin-bottom: var(--space-md) !important;

                        .pformstrip {
                            margin-bottom: 0;
                            line-height: 160%;
                            max-width: max-content;
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-last-child(3),
                    &#code-buttons-header,
                    &#enter-your-post-header {
                        display: none !important;
                    }
                
                    &:nth-child(3) {
                        .pformleft {
                            display: none;
                        }
                        .pformright {
                            grid-column: 1 / -1;
                            padding: 0;
                        }
                    }
                    &:nth-child(7) {
                        grid-template-columns: 100%;
                        gap: 0;

                        .pformleft {
                            border: none;
                            padding: 0;

                            b {
                                @include heading(h4, true);
                                margin-bottom: var(--space-md);
                            }
                        }
                        .pformright {
                            padding: 0;
                        }
                    }
                    &:nth-last-child(2) {
                        .pformleft {
                            display: none;
                        }
                        .pformright {
                            grid-column: 1 / -1;
                            padding: 0;
                            justify-content: center;

                            br {
                                display: none;
                            }
                        }
                    }

                    &#code-buttons {
                        display: block;

                        .pformleft {
                            display: none;
                        }

                        .pformright {
                            font-size: 0;
                            line-height: 0;
                            padding: 0;

                            & > input,
                            & > br {
                                display: none;
                            }

                            #bbcode-buttons {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 5px;

                                input,
                                select {
                                    width: max-content;
                                    max-width: max-content;
                                    height: 26px !important;
                                    border: var(--border-primary) !important;
                                    font-size: var(--text-size-sm) !important;
                                    letter-spacing: 0.05em;
                                    font-weight: 900;
                                    cursor: pointer !important;
                                    transition: var(--transition-standard);
                                    background: var(--bg-accent-low) !important;
                                    letter-spacing: var(--leading-standard);
                                    margin: 0;

                                    &:hover {
                                        background: var(--bg-accent) !important;
                                    }

                                    option {
                                        font-size: var(--text-size-md);
                                        letter-spacing: 0;
                                    }
                                }

                                & > a,
                                & > br {
                                    display: none;
                                }
                            }
                        }
                    }

                    &#enter-your-post-header + tr {
                        display: block;

                        & > td {
                            display: block;

                            &.pformleft {
                                display: none;
                            }
                            &.pformright {
                                padding: 0;
                            }

                            textarea {
                                width: 100%;
                                height: 400px;
                                box-sizing: border-box;
                            }
                        }
                    }

                    &:last-child {
                        .pformstrip {
                            padding-top: var(--space-lg) !important;
                        }
                    }
                }
            }
        }
    }
}
//View Message
#Msg.code-03 {
    #ucpcontent {
        & > .pformstrip {
            & ~ div:not(.tableborder) {
                @include info(xxs);

                a {
                    color: var(--text-secondary);
                }
            }
        }
        & > .tableborder {
            & + div {
                display: none;
            }
            .titlemedium {
                display: none;
            }
        }
        .msg-normal > table {
            display: block;
            margin-top: var(--space-md);
    
            @include mq-up(xs) {
                margin-top: var(--space-lg);
            }

            tbody {
                display: flex;
                flex-direction: column;

                tr {
                    &:nth-child(2n + 1) {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-sm);

                        td {
                            padding: 0;
                            width: 100%;

                            &:not(:first-child) {
                                display: flex;
                                gap: var(--space-lg);
                                justify-content: space-between;
                                align-items: center;

                                .postdetails {
                                    @include heading(h6, thin);
                                }

                                & > * {
                                    float: none !important;
                                }

                                .post-buttons-top {
                                    display: flex;
                                    gap: var(--space-xs);
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 30px;
                                    height: 30px;
                                    border: var(--border-accent-mid);
                                    color: var(--text-primary);
                                    font-size: 12px;
                                    cursor: pointer;
                                    transition: var(--transition-standard);

                                    &::before {
                                        display: none;
                                    }

                                    &:hover {
                                        background: var(--bg-accent-low);
                                        color: var(--text-secondary);
                                    }
                                }
                            }

                            &:first-child {
                                @include heading(h5, true);
                                justify-content: start;

                                a {
                                    color: var(--text-secondary);
                                }
                            }
                        }
                    }

                    &:nth-child(2n) {
                        display: block;
                        padding: var(--space-lg);
                        margin: var(--space-md) 0 var(--space-lg);
                        background: var(--bg-secondary);
                        border: var(--border-primary);
                        border-radius: var(--radius-medium);

                        td {
                            display: block;
                            width: 100%;
                            padding: 0;
                            text-align: justify;
                            line-height: 200%;

                            &:first-child {
                                display: none;
                            }
                        }
                        .signature {
                            display: none;
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}